/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root{
    background-color:edf6f9;
    }
    
.smooth-scrolling {
    scroll-behavior: smooth;
    transition-duration: 2ms;
}